html {background-image: url(./img/htd.webp); background-color: black; background-repeat:repeat; background-size: 20%;}

h3 {color: black; 
    background-color: gray; 
    font-size: 500%; 
    width: 10%; 
    text-decoration: line-through solid black;
    background-image: url(./img/jon-snow-dead.webp); 
    background-size: 100%;
}

h1{color: red; font-family: 'Oswald', sans-serif;
    background-color: black; 
    font-size: 500%;
    width: 15%;
    text-decoration:underline solid red ;
    line-height: 1.5;
    }
